.level-container {
  display: flex;
	flex-direction: row;
	height: 50px;
}

/* the board consists for rows */
.tileRow {
	display: flex;
	flex-direction: row;
	height: 32px;
}
/* each board-rows has #cols tiles */
.tile {
	width: 32px;
	height: 32px;
	background: blue;
	border: 1px solid darkblue;
}
img {
	margin: 1px;
}
/* representation of walls */
.tile-north-W {
	border-top: 1px solid white;
}
.tile-east-W {
	border-right: 1px solid white;
}
.tile-south-W {
	border-bottom: 1px solid white;
}
.tile-west-W {
	border-left: 1px solid white;
}
/* rep. of closed doors */
.tile-east-D {
	border-right: 1px solid brown;
}
.tile-west-D {
	border-left: 1px solid brown;
}
.tile-south-D {
	border-bottom: 1px solid brown;
}
.tile-north-D {
	border-top: 1px solid brown;
}

.tile-invisible-true {
	background: grey;
	border: 1px solid darkgrey;
}

/* message area */
.message-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 800px;
	margin: 5px;
}
.message {
}
.turn-message {
	display: flex;
	align-items: center;
}

button {
	margin: 5px;
}
